.details {
  text-align: center;
  line-height: 2px;
}

html {
  background-color: #292b2c;
  color: white;
  text-align: center;
}

.adSlot1, .adSlot2, .adSlot3 {
  background-color: white;
  margin: auto;
}

.adSlot4 {
  margin: auto;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  left: 0;
  right: 0;
}

.adSlot5 {
  left: 0;
  right: 0;
  background-color: white;
  margin: auto;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}
